body {
	background-color: black;
	color: white;
}

a {
	color: #9CC8F0;
	text-decoration: none;
}

a:hover {
	color: #6CACE4;
	text-decoration: underline;
}

.container {
	width: 800px;
	margin: 1rem auto;
}

.introduction {
	padding: 1rem;
	color: white;
	border-left: 2px solid #555;
	font-family: "Play", Verdana, Geneva, sans-serif;
}

.introduction > h1 {
	font-size: 2.5rem;
}

.introduction > h2 {
	font-size: 1.5rem;
}

.works {
	margin: 2rem 0;
	padding: 0 1rem;
	font-family: "Open Sans", Verdana, Geneva, sans-serif;
}

.works > h3 {
	font-size: 1.75rem;
}

.project {
	margin: 3rem 0;
	padding-left: 1rem;
	border-left: 2px solid #555;
	vertical-align: top;
}

.project > h4 {
	font-size: 0.75rem;
	font-style: italic;
	color: #999;
	padding: 0.5rem 2rem;
}

.item-image {
	width: 300px;
	height: 200px;
	border: 4px solid #890000;
	border-radius: 10px;
}

.item-desc {
	display: inline-block;
	width: 40%;
	margin-left: 1rem;
	padding-left: 1rem;
	border-left: 2px solid #555;
}

.denouement {
	font-family: "Play", Verdana, Geneva, sans-serif;
	padding: 1rem;
	border: 2px dashed #333;
	border-radius: 10px;
	text-align: center
}

.links > li {
	display: inline-block;
	margin: 1rem;
}

.hidden {
	display: none;
}